.warpper{
  opsition : relative;
}

.bg {
  height : 98%;
  width: 98%;
  position : absolute;
  background : url(../images/mahoudouji.jpg) right center no-repeat fixed;
  background-size : 900px 950px;
  opacity : .2;
  z-index : -1;
}

.worldMap{
  height: 800px;
  width: 1280px;
  background-image: url(../images/map3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}

.anchor{
	position: absolute;
	float: left;
  display:block;
  height : 50px;
  width: 50px;
  background-image: url(../images/anchor.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size : 100% 100%;
  z-index: 99;		
}

.spot{
	position: absolute;
  float: left;
  display:block;
  height : 50px;
  width: 50px;
  z-index: 3;	
}

.z_0{
	/*中立地帶*/
	margin-top: 340px;
  margin-left:610px;
}

.a_1{
	/*お菓子の家*/
  margin-top: 508px;
  margin-left:860px;  
}

.a_2{  
	/*お菓子の街*/
  margin-top: 625px;
  margin-left:880px;
}

.a_3{ 
	/*お菓子の城*/
  margin-top: 570px;
  margin-left:980px;
}

.a_4{ 
	/*お菓子の森*/
  margin-top: 620px;
  margin-left:1095px;
}

.b_1{ 
	/*穩やかな海*/
  margin-top: 498px;
  margin-left:420px;
}

.b_2{ 
	/*凪の海*/
  margin-top: 470px;
  margin-left:210px;
}

.b_3{ 
	/*嵐の海*/
  margin-top: 625px;
  margin-left:365px;
}
.b_4{ 
	/*溟海の城*/
  margin-top: 580px;
  margin-left:210px;
}

.c_1{
	/*目拔通り*/
	margin-top: 270px;
	margin-left: 440px;
}

.c_2{
  /*大図書館*/
  margin-top: 195px;
  margin-left: 255px;
}

.c_3{
  /*裏路地*/
  margin-top: 255px;
  margin-left: 155px;
}

.c_4{
  /*ジグザグ通り*/
  margin-top: 120px;
  margin-left: 155px;
}

.d_1{
  /*深雪の城*/
  margin-top: 195px;
  margin-left: 990px;
}

.d_2{
  /*粉雪の丘*/
  margin-top: 205px;
  margin-left: 1095px;
}

.d_3{
  /*薄氷の川*/
  margin-top: 127px;
  margin-left: 910px;
}

.d_4{
  /*なごり雪の谷*/
  margin-top: 300px;
  margin-left: 1030px;
}

.e_1{
  /*水晶宮*/
  margin-top: 110px;
  margin-left: 600px;
}

.e_2{
  /*反照の湖*/
  margin-top: 128px;
  margin-left: 692px;
}

.e_3{
  /*耀く大樹*/
  margin-top: 69px;
  margin-left: 510px;
}

.e_4{
  /*星の原野*/
  margin-top: 150px;
  margin-left: 515px;
}

.controllerDiv{
  z-index : 2;
}

.panel{
  width: 70%;
  border: 1px solid black;
  border-collapse: collapse;
  padding : 10px;
  z-index : 2;
}

.zone{  
	width: 450px;
  border: 1px solid black;
  border-collapse: collapse;
  padding : 10px;  
}

tr{
	line-height: 28px;
}

td, th{
  border: 1px solid black; 
}

.hidden{
  display:none;
}

.popUp{	
	width: 450px;
  background-color: #FFFFFF;  	
}

.note{
  padding : 5px;
  border: 1px solid grey;
  width: 45%;
  display: inline-block;
  float: left;
}

