.warpper{
  opsition : relative;
}

.bg {
  height : 1024px;
  width: 1280px;
  position : absolute;
  background : url(../images/mahoudouji.jpg) right center no-repeat fixed;
  background-size : 1000px 1030px;
  opacity : .2;
  z-index : -1;
}

.worldMap{
	height: 755px;
  width: 1344px;
	background-image: url(../images/map.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}

.a_1{
	position: absolute;
	display:block;
	height : 50px;
	width: 50px;
	background-image: url(../images/anchor.jpg);
	background-repeat: no-repeat;
  background-position: center center;
  background-size : 100% 100%;
  top: 92%;
  left: 67%;
}

.a_2{
  position: absolute;
  display:block;
  height : 50px;
  width: 50px;
  background-image: url(../images/anchor.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size : 100% 100%;
  top: 109%;
  left: 69%;
}

.a_3{
  position: absolute;
  display:block;
  height : 50px;
  width: 50px;
  background-image: url(../images/anchor.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size : 100% 100%;
  top: 101%;
  left: 77%;
}

.a_4{
  position: absolute;
  display:block;
  height : 50px;
  width: 50px;
  background-image: url(../images/anchor.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size : 100% 100%;
  top: 109%;
  left: 86%;
}

.b_1{
  position: absolute;
  display:block;
  height : 50px;
  width: 50px;
  background-image: url(../images/anchor.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size : 100% 100%;
  top: 91%;
  left: 33%;
}

.b_2{
  position: absolute;
  display:block;
  height : 50px;
  width: 50px;
  background-image: url(../images/anchor.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size : 100% 100%;
  top: 86%;
  left: 17%;
}

.b_3{
  position: absolute;
  display:block;
  height : 50px;
  width: 50px;
  background-image: url(../images/anchor.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size : 100% 100%;
  top: 110%;
  left: 29%;
}
.b_4{
  position: absolute;
  display:block;
  height : 50px;
  width: 50px;
  background-image: url(../images/anchor.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size : 100% 100%;
  top: 103%;
  left: 18%;
}

.controllerDiv{
  z-index : 2;
}

.panel{
  width: 70%;
  border: 1px solid black;
  border-collapse: collapse;
  padding : 10px;
  z-index : 2;
}

td, th{
  border: 1px solid black; 
}

.hidden{
  display:none;
}


.note{
  padding : 5px;
  border: 1px solid grey;
  width: 45%;
  display: inline-block;
  float: left;
}

