.warpper{
  opsition : relative;
}

.bg {
  height : 100%;
  width: 100%;
  position : absolute;
  background : url(../images/mahoudouji.jpg) right center no-repeat fixed;
  background-size : 1000px 1030px;
  opacity : .2;
  z-index : -1;
}

.worldMap{
  height: 755px;
  width: 1344px;
  background-image: url(../images/map.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}

.anchor{
	position: absolute;
	float: left;
  display:block;
  height : 50px;
  width: 50px;
  background-image: url(../images/anchor.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size : 100% 100%;
  z-index: 99;		
}

.spot{
	position: absolute;
  float: left;
  display:block;
  height : 50px;
  width: 50px;
  z-index: 3;	
}

.z_0{
	/*中立地帶*/
	margin-top: 315px;
  margin-left:635px;
}

.a_1{
	/*お菓子の家*/
  margin-top: 490px;
  margin-left:900px;  
}

.a_2{  
	/*お菓子の街*/
  margin-top: 610px;
  margin-left:915px;
}

.a_3{ 
	/*お菓子の城*/
  margin-top: 560px;
  margin-left:1030px;
}

.a_4{ 
	/*お菓子の森*/
  margin-top: 610px;
  margin-left:1140px;
}

.b_1{ 
	/*穩やかな海*/
  margin-top: 480px;
  margin-left:440px;
}

.b_2{ 
	/*凪の海*/
  margin-top: 450px;
  margin-left:220px;
}

.b_3{ 
	/*嵐の海*/
  margin-top: 615px;
  margin-left:380px;
}
.b_4{ 
	/*溟海の城*/
  margin-top: 570px;
  margin-left:225px;
}

.controllerDiv{
  z-index : 2;
}

.panel{
  width: 70%;
  border: 1px solid black;
  border-collapse: collapse;
  padding : 10px;
  z-index : 2;
}

.zone{  
	width: 450px;
  border: 1px solid black;
  border-collapse: collapse;
  padding : 10px;  
}

td, th{
  border: 1px solid black; 
}

.hidden{
  display:none;
}

.popUp{	
	width: 450px;
  background-color: #FFFFFF;  	
}

.note{
  padding : 5px;
  border: 1px solid grey;
  width: 45%;
  display: inline-block;
  float: left;
}

