@media screen and (min-width: 721px) {

body {
	display: flex;
	flex-direction: column;
}

.warpper{
  width: 100%;		
  flex-grow:1;
  z-index:0;
}

.bg, .bgRoam {
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  position : fixed;
  background : url(../images/background.png) left center no-repeat fixed;
  /*background-attachment: fixed;*/
  background-size: cover;
  opacity : .3;
  z-index : -1;
}

.title{
	width:100%;
	text-align:center;
	font-size:40px;
	font-weight: bold;	
	color: black;  	
}

.mainDiv{
	height: 75vh;
	width:100%;
	z-index: 1;	
}

.btn-radius {
	background-color: rgba(190, 110, 177, 0.6);
	color: rgb(3, 3, 0);
	border: 1px solid rgb(176, 224, 162);
	padding: 12px 12px;
	border-radius: 3px;
	font-size: 1.1em;
}

.grid{	
	margin-left:1%;
	margin-bottom: 1.5%;
	white-space: normal;
}

.playing{
	background-color: rgba(226, 43, 67, 0.6);
}


.headline{
	margin-left:1%;
	text-align: center;
}


.hidden{
	display:none !important; 
}

.navBtn{
	background-color: rgba(191, 216, 80, 0.6);
	color: rgb(3, 3, 0);
	border: 1px solid rgb(176, 224, 162);
	padding: 12px 8px;
	border-radius: 3px;
	font-size: 1.1em;
	z-index: 100;
}

.copyBtn{
	background-color: rgba(80, 211, 216, 0.6);
	color: rgb(3, 3, 0);
	border: 1px solid rgb(176, 224, 162);
	padding: 12px 8px;
	border-radius: 3px;
	font-size: 1.1em;
}

.rngBtn{
	position: fixed;
	right:5px;
	bottom:5px;	
}

.controllerDiv{
	position:fixed;
	right : 5px;
	z-index: 3;
}

.buttonCounter{
	float: right;
}

.randomCaren1{
	position: fixed;
	right: -300px;
	top: 50px;
}
.randomCaren2{
	position: fixed;
	left: -300px;
	top: 80px;
}
.randomCaren3{
	position: fixed;
	right: -300px;
	top: 100px;
}
.randomCaren4{
	position: fixed;
	left: -300px;
	top: 70px;
}
.randomCaren5{
	position: fixed;
	bottom:-610px;
	left:0px;
}
.randomCaren6{
	position: fixed;
	right: -300px;
	top: 100px;
}
.randomCaren7{
	position: fixed;
	left: -300px;
	top: 70px;
}

.roamCaren{
	width: fit-content;
	position: fixed;
	right: 40%;
	top: 40%;
}

.beTheOne{
	background-color: rgb(69, 241, 190) !important;
}

.favorBox{
	top: 0px;
	position: fixed;
	width:100%;
	z-index: 10;
	background-color: rgba(3, 10, 3, 0.9);
	border: 1px solid rgb(176, 224, 162);
	padding-top: 1em;
}

.favorBtn{
	background-color: rgba(73, 96, 199, 0.6);
	color: rgb(3, 3, 0);
	border: 1px solid rgb(176, 224, 162);
	padding: 12px 8px;
	border-radius: 3px;
	font-size: 1.1em;
}

.delFavorBtn{
	background-color: rgba(233, 60, 60, 0.6);
	color: rgb(3, 3, 0);
	border: 1px solid rgb(176, 224, 162);
	padding: 12px 8px;
	border-radius: 3px;
	font-size: 1.1em;
}

.playModeBtn{
	background-color: rgba(199, 103, 24, 0.6);
	color: rgb(3, 3, 0);
	border: 1px solid rgb(176, 224, 162);
	padding: 12px 8px;
	border-radius: 3px;
	font-size: 1.1em;
}

p{
	font-size: 1.1em;
}

.askDiv, .chipDiv{
    margin-left: auto;
    margin-right:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resultDiv{
    margin-left: auto;
    margin-right:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chipBox{
    display: inline-flex;
    width: 150px;
    height: 150px;
    overflow: hidden;
}
.chips{
    max-width: max-content;
    max-height: max-content;
}
#askInput{
  font-size: 2em;
}
.askText{
  font-size: 1.5em;
}
.askResult{
  color: #3f10c2;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.countPanel{
	position: absolute;
	bottom: 20px;
	left: 20px;
	font-size: x-large;
	font-weight: bolder;
}

}


@media screen and (max-width: 720px) {

body {
	display: flex;
	flex-direction: column;
}

.warpper{
  width: 100%;		
  flex-grow:1;
  z-index:0;  
}

.bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;		
  background : url(../images/background_m.png);  
  background-repeat: no-repeat;  
  background-attachment:  fixed;
  opacity: 0.3;
  z-index: -100;
}

.bgRoam {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;		
  background : url(../images/background_m2.png);  
  background-repeat: no-repeat;  
  background-attachment:  fixed;
  opacity: 0.3;
  z-index: -100;
}

.title{
	width:100%;
	text-align:center;
	font-size:40px;
	font-weight: bold;	
	color: black;  	
}

.mainDiv{	
	width:100%;
	z-index: 1;	
}

.btn-radius {
	background-color: rgba(190, 110, 177, 0.6);
	color: rgb(3, 3, 0);
	border: 1px solid rgb(176, 224, 162);
	padding: 12px 12px;
	border-radius: 3px;
	font-size: 1.1em;
}

.grid{
	max-width: 100%;
	margin-left:1%;
	margin-bottom: 1.5%;
	white-space: normal;
}

.playing{
	background-color: rgba(226, 43, 67, 0.6);
}


.headline{
	margin-left:1%;
	text-align: center;
}


.hidden{
	display:none !important; 
}

.navBtn{
	background-color: rgba(191, 216, 80, 0.6);
	color: rgb(3, 3, 0);
	border: 1px solid rgb(176, 224, 162);
	padding: 12px 8px;
	border-radius: 3px;
	font-size: 1.1em;
	z-index: 100;
}

.copyBtn{
	background-color: rgba(80, 211, 216, 0.6);
	color: rgb(3, 3, 0);
	border: 1px solid rgb(176, 224, 162);
	padding: 12px 8px;
	border-radius: 3px;
	font-size: 1.1em;
}

.rngBtn{
	position: fixed;
	right:-10%;
	bottom:5px;
	width: 50%;
	max-width: 200px;
}

.showIcon{
	width: 80%;
	object-fit: cover;
}

.controllerDiv{
	position:fixed;
	right : 5px;
	z-index: 3;
}

.buttonCounter{
	float: right;
}

.randomCaren1{
	position: fixed;
	right: -300px;
	top: 50px;
}
.randomCaren2{
	position: fixed;
	left: -300px;
	top: 80px;
}
.randomCaren3{
	position: fixed;
	right: -300px;
	top: 100px;
}
.randomCaren4{
	position: fixed;
	left: -300px;
	top: 70px;
}
.randomCaren5{
	position: fixed;
	bottom:-610px;
	left:0px;
}
.randomCaren6{
	position: fixed;
	right: -300px;
	top: 100px;
}
.randomCaren7{
	position: fixed;
	left: -300px;
	top: 70px;
}

.roamCaren{
	width: fit-content;
	position: fixed;
	right: 40%;
	top: 40%;
}

.beTheOne{
	background-color: rgb(69, 241, 190) !important;
}

.favorBox{
	top: 0px;
	position: fixed;
	width:100%;
	z-index: 10;
	background-color: rgba(3, 10, 3, 0.9);
	border: 1px solid rgb(176, 224, 162);
	padding-top: 1em;
}

.favorBtn{
	background-color: rgba(73, 96, 199, 0.6);
	color: rgb(3, 3, 0);
	border: 1px solid rgb(176, 224, 162);
	padding: 12px 8px;
	border-radius: 3px;
	font-size: 1.1em;
}

.delFavorBtn{
	background-color: rgba(233, 60, 60, 0.6);
	color: rgb(3, 3, 0);
	border: 1px solid rgb(176, 224, 162);
	padding: 12px 8px;
	border-radius: 3px;
	font-size: 1.1em;
}

.playModeBtn{
	background-color: rgba(199, 103, 24, 0.6);
	color: rgb(3, 3, 0);
	border: 1px solid rgb(176, 224, 162);
	padding: 12px 8px;
	border-radius: 3px;
	font-size: 1.1em;
}

p{
	font-size: 1.1em;
}

.askDiv, .chipDiv{
    margin-left: auto;
    margin-right:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resultDiv{
    margin-left: auto;
    margin-right:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chipBox{
    display: inline-flex;
    width: 150px;
    height: 150px;
    overflow: hidden;
}
.chips{
    max-width: max-content;
    max-height: max-content;
}
#askInput{
    font-size: 2em;
	width:90%;
}
.askText{
    font-size: 1.5em;
}
.askResult{
    color: #3f10c2;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

.countPanel{
	position: absolute;
	bottom: 20px;
	right: 20px;
	font-size: x-large;
	font-weight: bolder;
}

}