.warpper{
  opsition : relative;
}

.bg {
  height : 1024px;
  width: 1280px;
  position : absolute;
  background : url(../images/scathach.jpg) center top no-repeat ;
  opacity : .2;
  z-index : -1;
}

.controllerDiv{
  z-index : 2;
}

.panel{
  width: 50%;
  border: 1px solid black;
  border-collapse: collapse;
  padding : 10px;
  z-index : 2;
}

.resultTable{
  width: 90%;
  border: 1px solid black;
  padding : 10px;
}

td, th{
  border: 1px solid black; 
}

.saber{
  width: 11%;
  text-align:center;
}

.archer{
  width: 11%;
  text-align:center;
}

.lancer{
  width: 11%;
  text-align:center;
}
.rider{
  width: 11%;
  text-align:center;
}
.assassin{
  width: 11%;
  text-align:center;
}
.caster{
  width: 11%;
  text-align:center;
}
.berserker{
  width: 11%;
  text-align:center;
}
.ex{
  width: 11%;
  text-align:center;
}

.hidden{
  display:none;
}
