.warpper{
  opsition : relative;
}

.bg {
  width: 1000px;
  height : 600px;
  position : fixed;
  background-position:right bottom;
  background : url(../images/okida.jpg) right center no-repeat ;
  background-size : 1000px 600px;
  opacity : .2;
  z-index : -1;
  margin-left: 300px;
}

.anchor{
  display:block;
  height : 50px;
  width: 50px;
  background-image: url(../images/anchor.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size : 100% 100%;
  z-index: 99;    
}

.spot{
  float: left;
  display:inline;
  height : 50px;
  width: 50px;
  top: -50px;
  z-index: 3; 
}

.worldMapF{
  width: 1068px;
  height: 1066px;
  background-image: url(../images/map_front.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}

.worldMapB{
  width: 1068px;
  height: 1066px;
  background-image: url(../images/map_back.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}

.ekoda{
  /* 江古田 */
  position: relative;
  display:block;
  height : 50px;
  width: 50px;
  top: 165px;
  left: 190px;
}

.tabata{
  /* 田端 */
  position: relative;
  display:block;
  height : 50px;
  width: 50px;
  top: 110px;
  left: 600px;
}

.yellowTemple{
  /* 目黃不動 */
  position: relative;
  display:block;
  height : 50px;
  width: 50px;
  top: 124px;
  left: 760px;
}

.redTemple{
  /* 目赤不動 */
  position: relative;
  display:block;
  height : 50px;
  width: 50px;
  top: 90px;
  left: 560px;
}

.whiteTemple{
  /* 目白不動 */
  position: relative;
  display:block;
  height : 50px;
  width: 50px;
  top: 75px;
  left: 380px;
}

.kouEnTera{
  /* 高円寺  */
  position: relative;
  display:block;
  height : 50px;
  width: 50px;
  top: 97px;
  left: 88px;
}

.shinjuku{
  /* 新宿 */
  position: relative;
  display:block;
  height : 50px;
  width: 50px;
  top: 101px;
  left: 333px;
}

.sakamoto{
  /* 坂本探偵事務所 */
  position: relative;
  display:block;
  height : 50px;
  width: 50px;
  top: 59px;
  left: 630px;
}

.holyGrail{
  /* 聖杯研究所 */
  position: relative;
  display:block;
  height : 50px;
  width: 50px;
  top: 112px;
  left: 510px;
}

.kiba{
  /* 木場 */
  position: relative;
  display:block;
  height : 50px;
  width: 50px;
  top: 55px;
  left: 812px;
}

.tsukiji{
  /* 築地 */
  position: relative;
  display:block;
  height : 50px;
  width: 50px;
  top: 62px;
  left: 650px;
}

.shibaGarden{
  /* 芝公園 */
  position: relative;
  display:block;
  height : 50px;
  width: 50px;
  top: 60px;
  left: 540px;
}

.blueTemple{
  /* 目青不動 */
  position: relative;
  display:block;
  height : 50px;
  width: 50px;
  top: 70px;
  left: 182px;
  z-index:3
}

.blackTemple{
  /* 目黑不動 */
  position: relative;
  display:block;
  height : 50px;
  width: 50px;  
  top: 96px;
  left: 342px;
  z-index:3
}

.front_backBtn{
  position: relative;
  display:block;
  height : 52px;
  width: 120px;  
  top: 228px;
  left: 950px;
  z-index:3
}

.back_yellowTemple{
  /* 裡目黃不動 */
  position: relative;
  display:block;
  height : 50px;
  width: 50px;
  top: 224px;
  left: 760px;
}

.back_redTemple{
  /* 裡目赤不動 */
  position: relative;
  display:block;
  height : 50px;
  width: 50px;
  top: 190px;
  left: 560px;
}

.back_whiteTemple{
  /* 裡目白不動 */
  position: relative;
  display:block;
  height : 50px;
  width: 50px;
  top: 175px;
  left: 380px;
}

.back_shinjuku{
  /* 裡新宿 */
  position: relative;
  display:block;
  height : 50px;
  width: 50px;
  top: 250px;
  left: 333px;
}

.back_sakamoto{
  /* 裡事務所 */
  position: relative;
  display:block;
  height : 50px;
  width: 50px;
  top: 209px;
  left: 630px;
}

.back_holyGrail{
  /* 裡研究所 */
  position: relative;
  display:block;
  height : 50px;
  width: 50px;
  top: 260px;
  left: 510px;
}

.back_shibaGarden{
  /* 裡芝公園  */
  position: relative;
  display:block;
  height : 50px;
  width: 50px;
  top: 310px;
  left: 542px;
}

.back_blueTemple{
  /* 裡目青不動 */
  position: relative;
  display:block;
  height : 50px;
  width: 50px;
  top: 320px;
  left: 182px;
}

.back_blackTemple{
  /* 裡目黑不動 */
  position: relative;
  display:block;
  height : 50px;
  width: 50px;
  top: 344px;
  left: 342px;
}

.back_frontBtn{
  position: relative;
  display:block;
  height : 52px;
  width: 120px;
  top: 417px;
  left: 950px;
}

.controllerDiv{
  z-index : 2;
}

.panel{
  width: 70%;
  border: 1px solid black;
  border-collapse: collapse;
  padding : 10px;
  z-index : 2;
}

.zone{  
  width: 450px;
  border: 1px solid black;
  border-collapse: collapse;
  padding : 10px;  
}



tr{
  line-height: 28px;
}

td, th{
  border: 1px solid black; 
}

.delLine{
 text-decoration: line-through;
}

.hidden{
  display:none;
}

.hidden2{
  opacity : 0;
}

.popUp{ 
  width: 450px;
  background-color: #FFFFFF;    
}

.note{
  padding : 5px;
  border: 1px solid grey;
  width: 45%;
  display: inline-block;
  float: left;
}

